.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rate-rover {
    width: 512px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
    padding: 10px;
    margin: 10px;
}

.rate-rover-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    gap: 10px;
}

.label {
    font-size: 1.25em;
    font-weight: 500;
}

.currency-input {
    font-size: 1.25em;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,0.2);
    padding: 10px 10px;
}

.currency-from-select, .currency-to-select {
    font-size: 1.25em;
}

.convert-button {
    color: var(--secondary-accent-color);
    font-size: 1.25em;
    margin-top: 10px;
    padding: 15px 10px;
    border-radius: 10px;
    border-width: 0;
    background: var(--accent-color);
    transition: all 200ms ease-in-out;
    cursor: pointer;
    font-weight: bold;
}

.convert-button:hover {
    filter: brightness(0.75);
}

.currency-output {
    font-size: 1.25em;
    font-weight: bold;

}

@media only screen and (max-width: 572px) {
    .currency-converter {
        width: 90%;
    }
}