.container {
    width: 100%;
    height: 100vh;
}

.currency-converter {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 512px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: white;
}

.currency-converter-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.label {
    font-size: 1.25em;
    margin-top: 10px;
    font-weight: bold;
}

.input {
    font-size: 1.25em;
    border-radius: 5px;
    border-width: 1px;
    padding: 15px 10px;
}

.convert-button {
    color: white;
    font-size: 1.25em;
    margin-top: 10px;
    padding: 15px 10px;
    border-radius: 5px;
    border-width: 0;
    background: slateblue;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    font-weight: bold;
}

.convert-button:hover {
    filter: brightness(0.75);
}

.currency-output {
    font-size: 1.25em;
    font-weight: 500;
}

@media only screen and (max-width: 572px) {
    .currency-converter {
        width: 90%;
    }
}