.footer {
    background: var(--main-color);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: auto;
    padding: 50px 0 50px 0;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    gap: 10px;
}

.footer-copyright-text {
    margin: 0 10px 0 10px;
    text-align: center;
    font-size: 1.25em;
    color: var(--font-color);
    opacity: 0.75;
}

.footer-link {
    color: var(--font-color);
    transition: all 200ms ease-in-out;
    background: transparent;
    padding: 10px 10px;
    border-radius: 2em;
}

.footer-link:hover {
    background: rgba(235, 235, 235);
}

.icon {
    font-size: 1.25em;
}